---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import img1 from "../images/img1.jpg";
import img2 from "../images/img2.jpg";
import img3 from "../images/img3.jpg";
import img4 from "../images/img4.jpg";
import img5 from "../images/img5.jpg";
import img6 from "../images/img6.jpg";
---

<Layout>
  <link rel="stylesheet" href="/src/styles/global.css" />
  <section class="py-10">
    <div class="max-w-5xl mx-auto px-4">
      <h2 class="text-3xl md:text-4xl font-semibold mb-6 text-center">
        Gallery
      </h2>
      <hr class="border-gray-600 opacity-50 mb-10 w-4/5 md:w-2/3 mx-auto" />
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src={img1.src}
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src={img2.src}
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src={img3.src}
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src={img4.src}
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src={img5.src}
            class="w-full h-auto object-cover"
          />
        </div>
        <div class="overflow-hidden rounded-lg shadow-sm">
          <img
            src={img6.src}
            class="w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
